.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  border-style: outset;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 #771b1b80;
  margin: 50px;
}

.bruceTitle {
  padding-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: lightgray;
  border-radius: 8px;
  margin: 10px;
  font-size: 16px;
}

input {
  margin: 10px;
}

.questionDisplay {
  background-color: lightgray;
  padding: 20px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: outset;
  box-shadow: 0 0 5px 0 #771b1b80;
}

label {
  margin: 10px;
}

select {
  margin-bottom: 20px;
}

/* body {
  background-color: lightblue;
}

#willisTitle {
  text-align: center;
  color: darkblue;
}

table,
th,
td {
  background-color: lightgreen;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#willisPic,
#willisVideo {
  height: 500px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.classHidden {
  display: none !important;
}

#link {
  text-align: center;
}

.date {
  text-align: center;
}

.centerClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#trivia,
#triviaInput,
#answerButton,
#triviaContent,
#nextQuestion,
#resetGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#triviaButton,
#titleInput,
#yearInput,
#videoButton {
  margin-top: 20px;
  margin-bottom: 20px;
} */